@import mixin
/** Шрифты **/
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,regular,500,600,700)

/** Общие стили **/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button
	-webkit-appearance: none
	margin: 0

html
	scroll-behavior: smooth
	// font-size: 16px

*
	box-sizing: border-box
	outline: none
	margin: 0
	border: 0
	font-family: 'Open Sans'
	color: $clBlack
	&:not(s)
		text-decoration: none
	@include scrollBar(3px, $clGray, $clGreen)
	@include adaptive($tablet)
		@include scrollBar(0, transparent, transparent)

.-hm-container
	max-width: $largeScreen
	width: 100%
	margin: 0 auto
	padding: 0px 20px
	@include adaptive($tablet)
		padding: 0 12px

h1
	@include fluid-type($minWidth, $maxWidth, 36px, 64px)
h2
	@include fluid-type($minWidth, $maxWidth, 24px, 48px)
h3
	@include fluid-type($minWidth, $maxWidth, 20px, 36px)
h4
	@include fluid-type($minWidth, $maxWidth, 18px, 24px)
h5
	@include fluid-type($minWidth, $maxWidth, 20px, 20px)
h6
	@include fluid-type($minWidth, $maxWidth, 16px, 18px)

.-hm-text
	&__bigger
		font-size: 20px
		@include adaptive($mediumScreen)
			font-size: 16px
	&__big
		@include fluid-type($minWidth, $maxWidth, 16px, 18px)
	&__medium
		@include fluid-type($minWidth, $maxWidth, 16px, 16px)
	&__small
		@include fluid-type($minWidth, $maxWidth, 13px, 13px)

.-hm-close
	display: block
	position: absolute
	right: 12px
	top: 12px
	width: 16px
	height: 16px
	transform-origin: center center
	transform: rotate(45deg)
	cursor: pointer
	&::after, &::before
		content: ''
		position: absolute
		display: block
		width: 16px
		height: 2px
		border-radius: 2px
		bottom: 8px
		background-color: $clBlack
		transform: rotate(90deg)
	&::before
		transform: rotate(0deg)

/** Чекбокс **/

.-hm-checkbox
	display: flex
	&__input
		appearance: none
		opacity: 0
		max-width: 0
		max-height: 0
		width: 0
		height: 0
	&__box
		display: flex
		align-items: center
		justify-content: center
		width: 13px
		height: 13px
		border: 1px solid $clGreen
		border-radius: 2px
		margin-right: 10px
		svg
			display: none
	&__input:checked + &__box
		background: $clGreen
		svg
			display: block
			path
				fill: white
	&__input:disabled + &__box
		background: $clGray
		border-color: $clGray
	&__input:disabled:checked + &__box
		background: $clGray
	&__input:hover + &__box
		cursor: pointer
	&__input:focus + &__box
		box-shadow: 0px 0px 0px 2px rgba($clGreen, 0.5)

/** Кнопка **/

.-hm-button
	background-color: $clGreen
	padding: 12px 20px
	border-radius: 8px
	cursor: pointer
	color: white
	transition: .2s
	&:focus, &:hover
		background: $clGreenHover
	&--dark
		background-color: $clBlack
		&:focus, &:hover
			background: $clBlackHover

/** Выпадающее меню при клике **/

.-hm-dropdown
	position: relative

	&__opener
		display: flex
		align-items: center
		gap: 10px
		cursor: pointer

	&__opener.active + &__list
		display: flex

	&__list
		display: none
		flex-direction: column
		position: absolute
		top: 20px
		right: 0

	&__item
		cursor: pointer

/** Попап **/

.-hm-popup-wrapper
	top: 0
	left: 0
	right: 0
	bottom: 0
	position: fixed
	overflow: scroll
	min-height: 100vh
	z-index: 20
	width: 100%
	display: none
	&.active
		display: block

/** Выпадающее меню при наведении **/

.-hm-dropdown-hover
	position: relative

	&__opener
		display: flex
		align-items: center
		gap: 10px
		cursor: pointer

	&__opener:hover + &__list, &__opener:focus + &__list
		display: flex

	&__list
		display: none
		flex-direction: column
		position: absolute
		top: 20px
		right: 0
		&:hover
			display: flex
	&__item
		cursor: pointer

/** Шапка сайта **/

.-hm-header
	&--sticky
		position: sticky
		top: 40px
		background: white
		z-index: 10

.-hm-header-top
	width: 100%
	display: flex
	justify-content: center
	text-align: center
	position: sticky
	z-index: 10
	top: 0
	background-color: $clGreen
	height: 46px
	&__text
		display: flex
		align-items: center
		color: white
		gap: 10px

.-hm-header-address
	width: 100%
	height: 40px
	background-color: $clGray
	margin-bottom: 10px
	&__container
		display: flex
		align-items: center
		justify-content: space-between
	&__text
		display: flex
		align-items: center
		height: 40px
		gap: 10px
	&__row
		display: flex
		align-items: center
		gap: 75px
		@include adaptive($mediumScreen)
			gap: 25px
	@include adaptive($tablet)
		display: none

.-hm-header-nav
	display: flex
	align-items: center
	padding: 20px 0
	&__logo
		margin-right: 80px
	&__item
		margin-left: 40px
		background: transparent
		position: relative
		img
			transition: .2s
		&:focus, &:hover
			img
				transform: scale(1.1)
	&__item-count
		width: 24px
		height: 24px
		display: flex
		align-items: center
		justify-content: center
		position: absolute
		bottom: -5px
		left: -8px
		background-color: $clGreen
		border-radius: 50%
		color: white
		font-weight: 600
	&__button
		display: flex
		align-items: center
		justify-content: center
		gap: 10px
		width: 158px
		height: 58px
		margin-right: 75px
	&__menu
		display: flex
		flex-direction: column
		width: 24px
		height: 24px
		padding: 6px 0
		background: transparent
		position: relative
		gap: 3px
		cursor: pointer
	&__menu-element
		display: block
		width: 100%
		height: 2px
		border-radius: 2px
		background-color: $clBlack

	&--mobile
		display: none

		@include adaptive($tablet)
			display: flex
			justify-content: space-between
	&:not(.-hm-header-nav--mobile)
		@include adaptive($tablet)
			display: none

	@include adaptive($mediumScreen)
		&__logo
			margin-right: 20px
			img
				width: 84px
		&__item
			margin-left: 20px
		&__button
			margin-right: 25px
			width: 120px
			height: 48px
	@include adaptive($tablet)
		&__item
			margin: 0

.-hm-header-search
	width: 100%

	&__label
		position: relative
	&__button
		background: transparent
		position: absolute
		top: 0
		right: 30px
		cursor: pointer

		@include adaptive($mediumScreen)
			right: 10px
	&__input
		background-color: #f5f5f5
		border-radius: 8px
		width: 100%
		height: 58px
		padding: 0px 60px 0px 24px
		@include fluid-type($tablet, $maxWidth, 12px, 16px)

		&::placeholder
			color: #d1d1d1

	@include adaptive($mediumScreen)
		&__button
			top: 5px
			img
				width: 15px
				height: 15px
		&__input
			height: 48px
			padding-right: 45px

.-hm-header-dropdown
	margin-left: 80px
	min-width: 190px
	&__opener
		height: 58px
	&__list
		top: 56px
		width: 100%
		background-color: white
		box-shadow: 0px 0px 10px rgba($clBlack, 0.2)
		text-align: center
		border-radius: 8px
	&__item
		padding: 10px 0

	@include adaptive($mediumScreen)
		margin-left: 20px
		min-width: 157px

.-hm-header-menu
	display: flex
	justify-content: space-between
	border-radius: 8px
	margin-top: 10px
	margin-bottom: 40px
	&__item
		display: flex
		align-items: center
		justify-content: center
		padding: 11px 15px
		border-radius: 8px
		transition: .2s
		white-space: nowrap
		@include fluid-type($tablet, $maxWidth, 10px, 18px)
		&.active, &:hover, &:focus
			background-color: #F8F8F8
	@include adaptive($mediumScreen)
		padding: 5px 10px
		overflow-x: auto
		&__item
			margin-bottom: 5px
	@include adaptive($tablet)
		display: none

.-hm-header-catalog
	position: absolute
	top: 100px
	left: 10%
	right: 10%
	display: none
	z-index: 5
	background-color: #F5F5F5
	border: 1px solid #E0E0E0
	padding: 30px 34px
	&.active
		display: flex
	@include adaptive($smallScreen)
		padding: 20px

.-hm-header-catalog-aside
	display: flex
	flex-direction: column
	gap: 25px
	padding-right: 5%
	border-right: 1px solid #E0E0E0
	&__item
		background: transparent
		height: 30px
		display: flex
		align-items: center
		cursor: pointer
		transition: .2s
		white-space: nowrap
		svg
			width: 32px
			margin-right: 27px
			cursor: pointer
			path
				transition: .2s

		&:hover, &:focus, &.active
			color: $clGreen
			path
				color: $clGreen

		@include fluid-type($tablet, $maxWidth, 12px, 15px)

.-hm-header-catalog-main
	margin-left: 5%
	display: grid
	grid-template-columns: repeat(4, 1fr)
	width: 100%
	gap: 6%
	overflow: auto
	&__item
		display: flex
		flex-direction: column
		align-items: center
		justify-content: center
		gap: 15px
		@include fluid-type($tablet, $maxWidth, 12px, 15px)
		transition: .2s
		path
			transition: .2s

		&:hover, &:focus, &.active
			color: $clGreen
			path
				color: $clGreen

.-hm-nav-mobile
	background-color: #f5f5f5
	&__address
		display: flex
		align-items: center
		gap: 15px
		margin: 10px 0
	.-hm-container
		display: flex
		flex-direction: column
		width: 100%
		padding: 25px 20px 35px
		gap: 25px

.-hm-nav-mobile-header
	display: flex
	align-items: center
	height: 68px
	padding: 0px 20px
	background-color: #fff
	&__close
		width: 80px
		background: transparent
		position: relative
		text-align: right
		font-size: 16px
		cursor: pointer
	.-hm-header-nav__item:nth-child(2)
		margin-left: auto
		margin-right: 24px

.-hm-nav-mobile-close
	left: 0
	top: 5px
	right: auto
	&::after, &::before
		background-color: $clGreen

.-hm-nav-mobile-dropdown

	&__opener
		width: 100%
		&.active
			.-hm-nav-mobile-dropdown__arrow
				transform: rotate(180deg)
			& + .-hm-nav-mobile-dropdown__list
				display: grid

	&__icon-container
		width: 32px
		margin-right: 25px

	&__arrow
		margin-left: auto
	&__list
		position: relative
		grid-template-columns: 1fr 1fr
		gap: 40px
		z-index: 21
		margin-bottom: 20px
		background-color: #f5f5f5

.-hm-nav-mobile-dropdown-item
	width: 100%
	display: flex
	flex-direction: column
	align-items: center
	justify-content: center
	text-align: center
	&__img
		width: 100%
		margin-bottom: 10px

.-hm-nav-mobile-account
	display: flex
	padding: 20px 0
	gap: 13px
	border-top: 1px solid #E0E0E0
	border-bottom: 1px solid #E0E0E0
	&__icon
		width: 40px
		height: 40px
		border-radius: 50%
	&__column

	&__name
		font-size: 15px
		margin-bottom: 4px

	&__mail
		color: #bdbdbd

.-hm-nav-mobile-number
	font-weight: 600
	font-size: 20px

/** Подвал сайта **/

.-hm-footer
	padding-top: 64px
	position: relative
	background-color: #F7F7F7
	.-hm-container
		padding: 0px 160px
	&__column
		display: flex
		flex-direction: column

	&__logo
		margin-bottom: 15px

	&__text
		display: flex
		align-items: center
		white-space: nowrap
		margin: 12px 0
		@include fluid-type($tablet, $maxWidth, 12px, 16px)

		img
			width: 20px
			margin-right: 10px

	&__title
		margin-bottom: 23px
		@include fluid-type($tablet, $maxWidth, 16px, 24px)
		img
			margin-left: auto
		&.active
			img
				transform: rotate(180deg)
			& +	.-hm-dropdown__list
				top: 0
				margin-top: 15px
				position: relative
	&__link
		line-height: 38px
		@include fluid-type($tablet, $maxWidth, 12px, 16px)

		&::after
			content: ''
			transition: .2s
			display: block
			width: 0%
			border-bottom: 1px dashed $clBlack
		&:focus::after
			width: 100%

	&__map
		max-width: 100%
		img
			width: 100%

	@include adaptive($mediumScreen)
		.-hm-container
			padding: 0px 80px
		&__column
			flex-grow: 1
			&:last-child
				max-width: 400px
				flex-grow: 0

			&:first-child
				flex-grow: 0
		&__logo
			margin-bottom: 10px
			img
				width: 84px
		&__title
			font-size: 18px
		&__link
			line-height: 32px
		&__text
			margin: 8px 0
			img
				width: 16px
		&__map
			max-width: 200px
	@include adaptive($smallScreen)
		.-hm-container
			padding: 0px 20px
		&__column
			&:last-child
				max-width: 150px
	@include adaptive($tablet)
		&__title
			width: 100%
			margin-bottom: 0
		&__column, &__column:last-child, &__column:first-child
			flex-grow: 1
			max-width: 100%
			margin-bottom: 25px

.-hm-footer-social
	max-width: 250px
	width: 100%
	margin-top: 33px
	gap: 20px
	display: flex
	align-items: center
	justify-content: space-between

	&__item
		path
			transition: .2s
			fill: #A7A7A7
		&:hover, &:focus
			path
				fill: $clGreen

	@include adaptive($mediumScreen)
		margin-top: 15px

	@include adaptive($smallScreen)
		gap: 10px
		&__item
			svg
				width: 20px

	@include adaptive($tablet)
		margin-bottom: 30px

.-hm-footer-desktop
	display: flex
	justify-content: space-between
	gap: 20px

	@include adaptive($tablet)
		display: none

.-hm-footer-mobile
	display: none
	flex-direction: column
	@include adaptive($tablet)
		display: flex

.-hm-footer-bottom
	display: grid
	margin-top: 25px
	padding: 25px 0
	grid-column: 1fr 2fr 1fr
	align-items: center
	grid-template-areas: 'name payment powered'
	position: relative
	border-top: 1px solid #CACACA
	&__text:first-child
		grid-area: name
	&__text:last-child
		text-align: right
		grid-area: powered
	&__payment
		position: absolute
		width: 144px
		display: flex
		gap: 16px
		left: calc(50% - 72px)
		grid-area: payment
	@include adaptive($tablet)
		grid-column: 1fr
		gap: 18px
		grid-template-areas: 'name' 'powered' 'payment'
		&__text:first-child, &__text:last-child
			text-align: center
		&__payment
			position: relative
			left: none

.-hm-totop
	position: absolute
	top: -20px
	right: 20px
	display: flex
	align-items: center
	justify-content: center
	width: 40px
	height: 40px
	border-radius: 50%
	background-color: $clGreen
	transform: rotate(-90deg)
/** Форма подписки **/

.-hm-form-subscribe
	&__wrapper
		width: 100%
		margin-bottom: 90px
		padding: 64px 196px 48px
		display: flex
		align-items: flex-start

		background: url('../img/subscribe-bg.svg') no-repeat
		background-size: cover
		background-position: 0 0
		border-radius: 8px

	&__column
		&:nth-child(2)
			max-width: 530px
			margin: 0px 23px 0px 50px

	h2
		color: white
	&__text
		font-size: 24px
		color: white
	&__input
		width: 100%
		height: 55px
		border-radius: 8px
		margin-bottom: 10px
		padding-left: 25px
		&::placeholder
			color: #d1d1d1
	&__checkbox
		& > .-hm-checkbox
			&__box
				border-color: white
				min-width: 13px
				min-height: 13px
				svg
					display: none
			&__input:checked + &__box
				svg
					display: block
					path
						fill: white
			&__input:hover + &__box
				cursor: pointer
			&__text
				color: #fff
				font-size: 13px
				font-weight: 300
				a
					color: #fff
					text-decoration: underline
					text-underline-position: under
	&__button
		width: 206px
		height: 55px
		display: flex
		align-items: center
		justify-content: center
		img
			margin-right: 10px

	@include adaptive($largeScreen)
		&__wrapper
			padding: 48px 64px 32px
		h2
			font-size: 32px
		&__text
			font-size: 18px
	@include adaptive($mediumScreen)
		&__wrapper
			flex-wrap: wrap
			padding: 48px 64px 32px
		&__column
			&:nth-child(2)
				max-width: 600px
				width: 100%
				margin: 20px 0 0
			&:nth-child(3)
				margin: 20px 0 0 auto
	@include adaptive($smallScreen)
		&__wrapper
			flex-direction: column
			align-items: center
		&__column
			&:nth-child(2)
				max-width: 100%
				width: 100%
				margin: 20px 0 0
			&:nth-child(3)
				margin: 20px 0 0
	@include adaptive($tablet)
		&__wrapper
			padding: 50px 20px 50px
			align-items: flex-start
		h2
			font-size: 24px
			margin-bottom: 25px
		&__column
			&:nth-child(3)
				margin: 35px 0 0

/** Свайпер **/

.-hm-swiper
	margin-bottom: 100px
	&__header
		position: relative
		margin-bottom: 50px
		.swiper-button-prev, .swiper-button-next
			position: absolute
			left: auto
			right: 0px
			width: 45px
			height: 45px
			display: flex
			align-items: center
			justify-content: center
			border-radius: 50%
			background-color: #F5F5F5
			transform: rotate(270deg)
			&::after
				display: none
			path
				color: $clBlack
			&:hover
				path
					color: $clGreen
		.swiper-button-prev
			right: 70px
			transform: rotate(90deg)

	@include adaptive($tablet)
		margin-bottom: 72px
		&__header
			margin-bottom: 32px
			h2
				font-size: 24px
			.swiper-button-prev, .swiper-button-next
				top: 25px
				width: 25px
				height: 25px
			.swiper-button-prev
				right: 40px
			&--longword
				height: 73px
				margin-bottom: 15px
				.swiper-button-prev, .swiper-button-next
					left: 40px
					right: auto
					bottom: 0
					top: auto
				.swiper-button-prev
					left: 0px

.-hm-swiper-slide
	width: 100%
	position: relative
	&__wrapper
		position: relative
		width: 100%
		height: 378px
		background: #F5F5F5
		border-radius: 8px
		img
			object-fit: contain
			width: 100%
			height: 100%
	&__top-img
		position: absolute
		top: 0
		left: 0
		right: 0
		bottom: 0
		&:hover
			.-hm-swiper-slide-action
				&__item
					opacity: 1
					&:nth-child(2)
						top: 67px
					&:nth-child(3)
						top: 134px
	&__tag
		position: absolute
		top: 10px
		left: 10px
		padding: 6px 22px
		background-color: $clGreen
		color: #fff
		border-radius: 8px
		font-size: 14px
		font-weight: 600
	&__title
		position: relative
		z-index: 5
		font-weight: 600
		font-size: 20px
		margin: 25px 0px 12px
	&__price
		position: relative
		z-index: 5
		font-size: 20px
		s, small
			color: #e0e0e0

	@include adaptive($tablet)
		&__wrapper
			height: 250px

.-hm-swiper-slide-action
	position: absolute
	right: 17px
	top: 10px
	display: flex
	flex-direction: column
	&__item
		top: 0
		right: 0
		position: absolute
		width: 40px
		height: 40px
		background-color: #fff
		border-radius: 50%
		display: flex
		align-items: center
		justify-content: center
		z-index: 3
		cursor: pointer
		path
			color: $clGreen

		&:nth-child(2)
			transition: .2s
			z-index: 2
			opacity: 0
			top: 0
		&:nth-child(3)
			transition: .4s
			z-index: 1
			opacity: 0
			top: 0
		&.active, &:hover, &:focus
			background: $clGreen
			path
				color: white

		&:focus
			opacity: 1
			&:nth-child(2)
				top: 67px
			&:nth-child(3)
				top: 67px

/** Элемент категорий **/

.-hm-category
	margin-bottom: 100px
	&__container
		display: grid
		grid-template-columns: repeat(6, 1fr)
		gap: 44px

	@include adaptive($largeScreen)
		&__container
			grid-template-columns: repeat(6, 1fr)
	@include adaptive($mediumScreen)
		.-hm-category-item
			&:nth-child(11), &:nth-child(10), &:nth-child(9), &:nth-child(8)
				display: none
	@include adaptive($smallScreen)
		&__container
			gap: 20px
			grid-template-columns: repeat(3, 1fr)
			.-hm-category-item
				&:nth-child(7), &:nth-child(6)
					display: none
	@include adaptive($tablet)
		margin-bottom: 70px
		&__container
			gap: 10px
			grid-template-columns: repeat(2, 1fr)

.-hm-category-item
	background: #f5f5f5
	height: 0
	width: 100%
	border-radius: 8px
	padding: 20px 13px
	position: relative
	padding-bottom: calc(100% - 20px)
	&__title
		margin-bottom: 7px
	&__count
		font-size: 16px
		color: #c4c4c4
	&__img
		position: absolute
		right: 0
		bottom: 0
		width: 60%
	&__link
		position: absolute
		left: 0
		bottom: 0
		right: 0
		top: 0
		z-index: 2
	&__button
		display: inline-block
		padding: 13px 20px
		border: 1px solid $clGreen
		color: $clGreen
		border-radius: 8px
		transition: .2s
		@include fluid-type($minWidth, $maxWidth, 15px, 18px)

		svg
			margin-left: 10px
		path
			transition: .2s
			color: $clGreen
		&:hover
			background-color: $clGreen
			color: white
			path
				color: white

	&:last-child
		display: flex
		align-items: center
		justify-content: center
		padding: 50% 0
	@include adaptive($mediumScreen)
		&__button
			padding: 5px
	@include adaptive($tablet)
		&__img
			width: 60%
		&__button
			padding: 5px
			svg
				margin-left: 5px

/** Линия навигации **/
.-hm-linenav

	&__row
		display: flex
		align-items: center
		svg
			margin: 0px 20px
	&__link
		@include fluid-type($minWidth, $maxWidth, 12px, 18px)

		&:last-child, &:hover, &:focus
			color: $clGreen
	@include adaptive($tablet)
		svg
			margin: 0px 10px
