@import mixin

.-hm-user
	margin-bottom: 100px
	&__title
		grid-area: title
		margin: 21px 0 31px
	&__container
		max-width: 1592px
		display: grid
		grid-template-rows: 102px auto
		grid-template-columns: 300px 1fr
		grid-template-areas: 'aside title' 'aside active'
		gap: 0 50px
	@include adaptive($tablet)
		&__title
			margin: 10px 0 13px
		&__container
			grid-template-rows: auto auto
			grid-template-columns: 1fr
			grid-template-areas: 'title' 'aside' 'active'

.-hm-user-aside
	grid-area: aside
	display: flex
	flex-direction: column
	border-right: 1px solid #F2F2F2
	&--mobile
		display: none
		.-hm-user-aside-item.active
			display: none
	&__list
		left: 0
		top: 72px
		z-index: 4
		background-color: #fff
	&__opener
		color: #fff
		display: flex
		padding: 16px 10px

		align-items: center
		background-color: $clGreen
		border-bottom-color: $clGreen
		border-radius: 8px
		circle
			color: $clGreen
		path
			color: #fff
		svg
			&:first-child
				margin-right: 13px
			&:last-child
				margin-left: auto
				margin-right: 10px
		&.active
			svg
				transform: rotate(180deg)
			.-hm-user-aside__value
				svg
					transform: rotate(0deg)
	&__value
		display: flex
		align-items: center
		color: #fff
	@include adaptive($tablet)
		margin-bottom: 20px
		&--mobile
			display: flex
		&--desktop
			display: none

.-hm-user-avatar
	padding: 34px 10px 25px
	margin-bottom: 7px
	border-bottom: 1px solid #f2f2f2
	display: flex
	&__icon
		max-width: 40px
		max-height: 40px
		overflow: hidden
		border-radius: 50%
		margin-right: 13px
		img
			width: 100%
			height: 100%
	&__column
		display: flex
		flex-direction: column
	&__name
		font-size: 15px
		margin-bottom: 4px
	&__mail
		font-size: 13px
		color: #bdbdbd

.-hm-user-aside-item
	padding: 16px 10px
	border-bottom: 1px solid #f2f2f2
	font-size: 15px
	display: flex
	background: transparent
	align-items: center
	cursor: pointer
	svg
		margin-right: 13px
	circle
		color: #f2f2f2
	path
		color: $clBlack
	&.active
		color: #fff
		background-color: $clGreen
		border-bottom-color: $clGreen
		border-radius: 8px
		circle
			color: $clGreen
		path
			color: #fff
	@include adaptive($tablet)
		circle
			color: #fff

.-hm-user-tab
	grid-area: active
/** Заказы пользователя **/

.-hm-user-orders
	display: none
	&__header
		padding: 16px min(4%, 28px)
		border-radius: 4px
		border: 1px solid #f2f2f2
		display: grid
		grid-template-columns: 25% 30% 30% 15%
		margin-bottom: 10px
	&__title
		color: #828282
		text-align: center
		border-right: 1px solid #f2f2f2
		@include fluid-type($tablet, $maxWidth, 14px, 16px)

		&:last-child
			border-right: 0
		&:first-child
			text-align: left
	&__address
		background: transparent
		color: $clGreen
		margin-top: 30px
		font-size: 16px
		cursor: pointer
	&.active
		display: block
	@include adaptive($tablet)
		&__header
			display: none

.-hm-user-orders-item
	display: grid
	grid-template-columns: 25% 30% 30% 15%
	padding: 8px min(4%, 28px)
	border-radius: 4px
	transition: .2s
	position: relative
	&:hover
		background-color: #f2f2f2
	&__text
		text-align: center
	&__row
		display: flex
		justify-content: center
		&:first-child
			justify-content: flex-start

		.-hm-user-orders__title
			display: none
	&__del
		position: absolute
		right: 0
		top: 10px
		cursor: pointer
		background-color: transparent

	@include adaptive($tablet)
		grid-template-columns: 1fr
		margin-bottom: 35px
		border-radius: 4px
		border: 1px solid #f2f2f2
		padding: 16px 12px
		&__row
			padding: 24px 0px
			border-bottom: 1px solid #f2f2f2
			justify-content: space-between
			&:first-child
				padding-top: 0
				justify-content: space-between

			&:last-child
				padding-bottom: 12px
				border-bottom: 0
			.-hm-user-orders__title
				display: inline
				font-size: 16px
		&__del
			display: none

/** Лист желаний пользователя **/

.-hm-user-list, .-hm-user-view
	display: none
	grid-template-columns: repeat(4, 1fr)
	gap: 25px
	.-hm-swiper-slide__wrapper
		height: unset
	.-hm-pagination
		display: none
		grid-area: unset
	@include adaptive($mediumScreen)
		grid-template-columns: repeat(3, 1fr)
	@include adaptive($smallScreen)
		grid-template-columns: repeat(2, 1fr)
	@include adaptive($tablet)
		grid-template-columns: repeat(1, 1fr)
		.-hm-pagination
			display: flex
	&.active
		display: grid

/** Рассылка **/

.-hm-user-mailing
	display: none
	gap: min(200px, 10%)
	&__title
		color: #828282
		margin-bottom: 20px
		@include fluid-type($minWidth, $maxWidth, 20px, 24px)
	&__column
		display: flex
		flex-direction: column
		max-width: 50%
		&:last-child
			gap: 20px
	@include adaptive($tablet)
		flex-direction: column
		gap: 20px
		&__column
			max-width: 100%
	&.active
		display: flex

.-hm-user-mailing-item
	margin-bottom: 30px
	&__text
		margin-top: 10px
		color: #828282
		font-weight: 300
		font-size: 14px

/** Оплата **/

.-hm-user-payment
	display: none
	width: 100%
	gap: min(200px, 10%)
	&__radio
		margin-bottom: 30px
	&__button
		max-width: 220px
		width: 100%
		height: 53px
		border-radius: 8px
		font-size: 16px
		color: #fff
		background-color: $clGreen
		cursor: pointer
	.-hm-user-mailing__column
		&:last-child
			margin-left: auto
	@include adaptive(1350px)
		flex-direction: column
		gap: 73px
		.-hm-user-mailing__column
			margin-left: 0 !important
			max-width: 100%
	&.active
		display: flex

.-hm-user-card
	padding: 23px 34px 26px
	background-color: #FAFAFA
	border-radius: 21px
	max-width: 514px
	width: 100%
	&__title
		margin-bottom: 20px
	&__label
		display: flex
		flex-direction: column
		gap: 12px
		color: #6d6d6d
		font-weight: 600
		@include fluid-type($minWidth, $maxWidth, 12px, 14px)
	&__input
		padding: 14px 20px
		border: 1px solid #ECECEC
		border-radius: 16px
		width: 100%
		color: #39373a
		font-size: 16px
	&__row
		display: flex
		gap: 25px
		margin: 25px 0
	.-hm-user-payment__button
		width: 164px
	@include adaptive($tablet)
		&__row
			display: grid
			grid-template-columns: 1fr 1fr
			grid-template-areas: 'name name' 'date cvv'
			.-hm-user-card__label
				&:first-child
					grid-area: name
				&:nth-child(2)
					grid-area: date
				&:last-child
					grid-area: cvv
