// Переменные
$largeScreen: 1920px + 40px
$mediumScreen: 1440px + 40px
$smallScreen: 1024px + 40px
$tablet: 768px + 40px
$largePhone: 425px + 40px
$smallPhone: 320px + 40px

$clGreen: #72BF44
$clBlack: #383838
$clGray: #F2F2F2
